@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'open sans';
}
html{
    scroll-behavior: smooth;
}
/* sección INICIO */
.inicio{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(img/F.\ inicio.webp);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-attachment: fixed;
}
.contenido{
    max-width: 1300px;
    margin: auto;
}
/* ENCABEZADO */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
header h1 a{
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
}
header h1 a:hover{
    color: #007e80;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    margin: 0 15px;
} 
  
nav ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 7px;
    transition: .3s;
}
  
nav ul li a:hover{
    background-color: ;
    color: #007e80; 
}

.inicio .frase{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: normal;
    color: #fff;
    font-size: 3rem;
    width: 100%;
    text-align: center;
}
.inicio .frase .resaltar{
    font-weight: bold;
}
.subir{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 2px solid #212121;
    border-radius: 50%;
    color: #212121;
    cursor: pointer;
    background: rgba(255, 255, 255, .5);
    z-index: 100;
}

/* SECCION SOBRE MI */
.sobre-mi{
    padding: 70px 0;
}
.sobre-mi .fila{
    display: flex;
    justify-content: space-between;
}
.sobre-mi .fila .contenedor-img{
    width: 40%;
}
  
.sobre-mi .fila .contenedor-img img{
    width: 100%;
}
.sobre-mi .fila .info{
    width: 55%;
    padding: 0px 30px;
    color: #5f5f5f;
}
.sobre-mi .fila .info .opciones{
    display: flex;
    justify-content: space-around;
}
.sobre-mi .fila .info .opciones button{
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 3px solid #5f5f5f;
    padding-bottom: 7px;
    width: 130px;
    cursor: pointer;
}
.sobre-mi .fila .info .opciones button.selected{
    border-bottom: 3px solid #2f2c79;
    color: #2f2c79;
}
.sobre-mi .fila .info .info-opcion{
    margin-top: 40px;
}

.sobre-mi .fila .info .info-opcion h2{
    color: #000;
    font-size: 30px;
    margin-bottom: 20px;
}
.color{
    color: #2f2c79;
}
.sobre-mi .fila .info .info-opcion p{
    line-height: 30px;
    margin-bottom: 20px;
}
#info-sobre-mi{
    display: block;
}
#info-skills{
    display: none;
}
.sobre-mi .fila .info .info-opcion .skill{
    margin-bottom: 20px;
}
.sobre-mi .fila .info .info-opcion .skill .texto{
    display: flex;
    justify-content: space-between;
}
.sobre-mi .fila .info .info-opcion .skill .contenedor-barra{
    background-color: #c7c6c6;
    height: 10px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.sobre-mi .fila .info .info-opcion .skill .contenedor-barra .relleno{
    height: 10px;
    position: absolute;
    width: 0;
    background-color: #2f2c79;

}

@keyframes animHtml {
    0%{width: 0%;}
    100%{width: 95%;}
}
@keyframes animCss {
    0%{width: 0%;}
    100%{width: 90%;}
}
@keyframes animJs {
    0%{width: 0%;}
    100%{width: 85%;}
}
@keyframes animReact {
    0%{width: 0%;}
    100%{width: 75%;}
}
@keyframes animBoostrap {
    0%{width: 0%;}
    100%{width: 93%;}
}

/* SECCION CURRICULUM */
.curriculum{
    background-color: #2b8085;
    color: #fff;
    padding: 50px 20px;
}
.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.curriculum h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.curriculum .fila{
    display: flex;
    justify-content: space-between;
}
.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}
.curriculum .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.curriculum .fila .izquierda{
    border-right: 2px solid #1e1e1e;
}
.curriculum .fila .derecha{
    border-left: 2px solid #1e1e1e;
}
.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #1e1e1e;
    position: relative;
}
.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.curriculum .fila .item .casa{
    color: #1CB698;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item .fecha{
    display: block;
    color: #1CB698;
    margin-bottom: 10px;
}
.curriculum .fila .item p{
    line-height: 24px;
}
.curriculum .fila .izq{
    border-right: 2px solid #fff;
    margin-right: 20px;
}
.curriculum .fila .der{
    border-left: 2px solid #fff;
    margin-left: 20px;
}
.curriculum .fila .item .conectori{
    height: 2px;
    background-color: #fff;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #fff;
    float: right;
    position: relative;
    bottom: 4px;
}
.curriculum .fila .item .conectord{
    height: 2px;
    background-color: #fff;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #fff;
    float: left;
    position: relative;
    bottom: 4px;
}
/* SECCION SERVICIOS */
.servicios{
    background-color: #666666;
    padding: 70px 0;
}
.titulo-seccion{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}
.servicios .items-servicios{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    gap: 30px;
}
.servicios .items-servicios .item{
    padding: 30px;
    text-align: center;
    color: #fff;
    transition: .3s;
}
.servicios .items-servicios .item:hover{
    background-color: #2b8085;
    border-radius: 20px;

}
.servicios .items-servicios .item i{
    font-size: 50px;
}
.servicios .items-servicios .item h3{
    margin: 15px 0;
}
/* SECCION PROYECTOS */
.portfolio{
    background-color: #1e1e1e;
    color: #fff;
    padding: 50px 20px;
}
.portfolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.portfolio h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.portfolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.portfolio .galeria .proyecto img{
    width: 100%;
    display: block;
}
.portfolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(43, 128, 133, 0.8), rgba(43, 128, 133, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.portfolio .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.portfolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.portfolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}
/* SECCION CURRICULUM */
.curriculum .contenido{
    padding: 70px 0;
}
.curriculum .numeros{
    background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0,.7)), url(img/codigo.3.jfif);
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.curriculum .numeros .item{
    text-align: center;
}    
.curriculum .numeros .item .num{
    display: block;
    font-size: 4rem;
    font-weight: bold;
    color:#3F448C;
    line-height: 4rem;
}
.curriculum .numeros .item .txt{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.curriculum .contenido .recorrido-anios{
    max-width: 800px;
    margin: 30px auto;   
}
.curriculum .contenido .derecha{
    display: flex;
    justify-content: end;
    position: relative;
    right: 40px;
}
.curriculum .contenido .izquierda{
    display: flex;
    justify-content: start;
    position: relative;
    left: 40px;
}
.curriculum .contenido .recorrido-anios .dato{
    max-width: 400px;
    display: grid;
    align-items: center;
}
.curriculum .contenido .recorrido-anios .dato-der{
    grid-template-columns: 80px 50px auto;
}
.curriculum .contenido .recorrido-anios .dato-izq{
    grid-template-columns: auto 50px 80px;
}
.curriculum .contenido .recorrido-anios .dato .anio{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: #fff;
}
.curriculum .contenido .recorrido-anios .dato .linea{
    height: 10px;
}
.curriculum .contenido .recorrido-anios .dato .info{
    font-size: 16px;
    padding: 10px;
    color: #fff;   
}
.curriculum .contenido .recorrido-anios .dato .info h3{
 font-size: 16px;   
}
.curriculum .contenido .recorrido-anios .dato .info p{
    font-size: 12px;
    line-height: 20px;   
}
.c1{
    background-color: #1e1e1e;
}
.c2{
    background-color: #1e1e1e;
}
.c3{
    background-color: #1e1e1e;
}
.c4{
    background-color: #1e1e1e;
}
.b1{
    border:10px solid #1e1e1e;
    color: #e74452;
}
.b2{
    border:10px solid #1e1e1e;
    color: #df792b;
}
.b3{
    border:10px solid #1e1e1e;
    color: #16a8a5;
}
.b4{
    border:10px solid #1e1e1e;
    color: #0e526f;
}
/* SECCION CONTACTO */
.contacto .contenido{
    padding: 70px 0;
}
.contacto .banner{
    background: linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0,.8)), url(img/F.\ contacto.jfif);
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacto .banner p{
    font-size: 22px;
}
.contacto .banner h2{
    font-size: 3rem;
    margin: 10px 0;
}
.contacto .banner button{
    border: none;
    background-color:#00968d;
    color: #fff;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
}
.contacto .contenido .fila{
    display: flex;
    justify-content: space-around;
}
.contacto .contenido .fila .item{
    padding: 10px 15px;
    text-align: center;
}
.contacto .contenido .fila .item span{
    background-color: #003759;
    width: 50px;
    height: 50px;
    margin: auto;
    display: block;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 20px;
}
.contacto .contenido .fila .item p{
    color: #5f5f5f;
}
.contacto .formulario{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.contacto .formulario .col{
    width: 49%;
}
.contacto .formulario .col img{
    width: 100%;
    filter: grayscale();
}
.contacto .formulario .fila-input{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.contacto .formulario .fila-input .input{
    width: 47%;
    border-bottom: 2px solid #000;
    padding: 7px 0;
    display: flex;
}
.contacto .formulario .fila-input .input input,
.contacto .formulario .col > .input input
{
    border: none;
    margin-left: 10px;
    outline: none;
    width: 100%;
}
.contacto .formulario i{
    color: #003759;
}
.contacto .formulario .col > .input{
    width: 100%;
    border-bottom: 2px solid #000;
    padding: 7px 0;
    display: flex;
    margin-bottom: 30px;
}

.contacto .formulario .col textarea{
    width: 100%;
    border: none;
    outline: none;
    margin-left: 8px;
}
.contacto .formulario button{
    border: none;
    background-color:#003759;
    color: #fff;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}
/* FOOTER */
footer{
    width: 100%;
    padding: 60px 0;
    text-align: center;
    background: #212121;
    color: #fff;
}
footer h2{
    margin-bottom: 30px;
}
.redes{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px 0;
}

footer .red{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #444;
    transition: background-color 0.3s, transform 0.3s;
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.red:hover {
    transform: scale(1.1);
    background-color: #555;
}
.r1{
    background: #3e5294;
    cursor: pointer;
    width: 50px;  /* Aumenta el tamaño */
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.r2{
    background: #000000;
    cursor: pointer;
    width: 50px;  /* Aumenta el tamaño */
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.r3{
    background:#ff35c2;
    cursor: pointer;
    width: 50px;  /* Aumenta el tamaño */
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.r4{
    background:#49e744; 
    cursor: pointer;
    width: 50px;  /* Aumenta el tamaño */
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
/* MENU RESPONSIVO */
.nav-responsive{
    display: none;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.nav-responsive a{
    text-decoration: none;
    color: #e74452;
    font-size: 30px;
}

/*  SECCION RESPONSIVE */
@media screen and (max-width:1130px){
    .trabajos .portfolio{
        grid-template-columns: max(400px) max(400px);   
    }
}
@media screen and (max-width:850px){
    header{
        display: block;
        text-align: center;
        background: rgba(0,0,0, 0.8);
    }
    nav{
        display: none;
    }
    .nav-responsive{
        display: flex;
    }
    .trabajos .portfolio{
        grid-template-columns: auto  
    }
    .servicios .items-servicios{
        grid-template-columns:auto auto;
    }
    .sobre-mi .fila{
        display: block;
    }
    .sobre-mi .fila .contenedor-img{
        width: 100%;
    }
      
    .sobre-mi .fila .contenedor-img img{
        width: 200px;
        display: block;
        margin: auto;
    }
    .sobre-mi .fila .info{
        width: 100%;
        margin-top: 30px;
    }
    .curriculum .numeros{
        display: block;
    }
    .curriculum .contenido .derecha{
        right: 0px;
        justify-content: center;
    }
    .curriculum .contenido .izquierda{
        left: 0px;
        justify-content: center;
    }
    .curriculum .numeros{
        height: auto;
        padding: 30px 0;
    }
    .curriculum .numeros .item{
        margin-bottom: 20px;
    }
    .curriculum .numeros .item .num{
        font-size: 3rem;
    }
    .contacto .contenido .fila{
        display: block;
    }
    .contacto .contenido .formulario{
        display: block;
    }
    .contacto .contenido .formulario .col{
        width: 100%;
        padding: 0 20px;
        margin-bottom: 20px;
    }

}